<!-- <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a href="/home/home-carousel"><img src="../../../assets/logo.png" style="width: 80px; height: 80px;"></a>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto float-right">
      <li class="nav-item"><a routerLink="/home/home-carousel" class="nav-link">Home</a></li>
      <li class="nav-item"><a routerLink="/home/about-us" class="nav-link">About Us</a></li>
      <li class="nav-item"><a routerLink="/home/event/event-list" class="nav-link">Event</a></li>
      <li class="nav-item"><a routerLink="#" class="nav-link">Profile</a></li>
      <li class="nav-item"><a routerLink="/home/event/cart" class="nav-link">Cart</a></li>
      <li class="nav-item"><a routerLink="/home/contact-us" class="nav-link">Contact Us</a></li>
      <li (click)="onLogout()" class="nav-item"><a class="nav-link float-right">Logout</a></li>
    </ul>
  </div>
</nav> -->

<div class="sticky-top" >
  <nav class="navbar navbar-expand-xl navbar-light" style="background-color:#999999">
    <a class="navbar-brand" href="/home/home-carousel">
      <img src="../../../assets/white-logo.png" width="70" height="70" alt="" loading="lazy">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav mr-auto">
          <a class="nav-link" routerLink="/home/home-carousel">Home</a>
          <a class="nav-link" routerLink="/home/event/event-list">Event</a>
          <a class="nav-link" routerLink="/home/event/cart">Cart</a>
          <a class="nav-link" routerLink="/home/about-us">About Us</a>
          <a class="nav-link" routerLink="/home/contact-us">Contact Us</a>
         
        </div>
      </div>
      <!-- <div class="form-inline my-2 my-lg-0" style="margin-right: 20px;">
        <input class="form-control mr-sm-2 rounded-pill" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-primary rounded-pill my-2 my-sm-0 icon-search" type="submit"></button>
      </div> -->
      <div class="form-inline my-2 my-lg-0 float-right">
        <button (click)="onLogout()" class="btn btn-warning rounded-pill my-2 my-sm-0" type="submit">Logout</button>
      </div>
    </div>
  </nav>
</div>
<br>
<br>

<div class="container">
    <router-outlet></router-outlet> 
</div>
<br>
<br>
<br>
<div class="footer ">
  <div class="footer-main ">
      <div class="row ">
          <div class="col-lg-4 col-md-12 col-sm-12 ">
              <div class="footer-top-box ">
                  <h3>Working Time</h3>
                  <ul class="list-time ">
                      <li>Monday - Friday: 8.00am to 5.00pm</li>
                      <li>Saturday: 10.00am to 8.00pm</li>
                      <li>Sunday: <span>Closed</span></li>
                  </ul>
              </div>
          </div>
          <div class="col-lg-4 col-md-12 col-sm-12 ">
              <div class="footer-top-box ">
                  <h3>Newsletter</h3>
                  <form class="newsletter-box ">
                      <div class="form-group ">
                          <input class=" " type="email " name="Email " placeholder="Your Email" />
                          <i class="fa fa-envelope "></i>
                      </div>
                      <button class="mybtn btn hvr-hover" (click)="news()" type="submit ">Submit</button>
                  </form>
              </div>
          </div>
          <div class="col-lg-4 col-md-12 col-sm-12 ">
              <div class="footer-top-box ">
                  <h3>Social Media</h3>
                  <br>
                  <p>Available on</p>
                  <ul>
                      <li><img class="social-logo" src="../../../assets/social/facebook.png"></li>
                      <li><img class="social-logo" src="../../../assets/social/youtube.png"></li>
                      <li><img class="social-logo" src="../../../assets/social/instagram.png"></li>
                      <li><img class="social-logo" src="../../../assets/social/twitter.png"></li>
                      <li><img class="social-logo" src="../../../assets/social/whatsapp.png"></li>
                  </ul>
              </div>
          </div>
      </div>
      <hr>
      <div class="row ">
          <div class="col-lg-4 col-md-12 col-sm-12 ">
              <div class="footer-widget ">
                  <h4>About EventDiary</h4>
                  <p>We create amazing occasion and entertainment events through the extraordinary event design, planning & production. Rated #1 India Event Management Firm, as well as one of the top event firms in India</p>
                  <p>Our portfolio of work like our attitude, speaks volumes about our creativity and passion. Please feel free to browse through our selection of stalls and escape to our world of Exhibitions. </p>
              </div>
          </div>
          <div class="col-lg-4 col-md-12 col-sm-12 ">
              <div class="footer-link ">
                  <h4>Information</h4>
                  <ul>
                      <li>About Us</li>
                      <li>Customer Service</li>
                      <li>Our Sitemap</li>
                      <li>Terms &amp; Conditions</li>
                      <li>Privacy Policy</li>
                      <li>Delivery Information</li>
                  </ul>
              </div>
          </div>
          <div class="col-lg-4 col-md-12 col-sm-12 ">
              <div class="footer-link-contact ">
                  <h4>Contact Us</h4>
                  <ul>
                      <li>
                          <p><i class="fas fa-map-marker-alt "></i>Address : 253, Z Pride, Near Central Bus Stand, Pune - 412563</p>
                      </li>
                      <li>
                          <p><i class="fas fa-phone-square "></i>Phone: <a href="tel:+91-888705770 ">+91-888 705 770 , 0231 - 2457892</a></p>
                      </li>
                      <li>
                          <p><i class="fas fa-envelope "></i>Email: <a href="mailto:contactinfo@gmail.com ">contactinfo@gmail.com</a></p>
                      </li>
                  </ul>
              </div>
          </div>
      </div>
  </div>
</div>