<!-- <div class="row" style="margin-bottom: 40px; margin-top: 10px;">
    <div class="col-md-12">
      <button (click)="loadCart()" class="btn btn-success float-right">Cart</button>
      <!-- <h2>Product List</h2> 
    </div>
  </div>
<h3>List of events</h3>
<div>
    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>No</th>
                <!-- <th>eventId</th> 
                <th>Image</th>
                <th>eventName</th>
                <th>Description</th>
                <th>Location</th>
                <th>Date</th>
                <th>Time</th>
                <th>Duration</th>
                <th>eventFee</th>
                <th>Actions</th>
            </tr>
        </thead>

        <tbody>
            <tr *ngFor="let event of events; let i= index ">
                <td>{{i+1}}</td>
                <!-- <td>{{event['eventId']}}</td> 
                   <td><img class="product-image" src="http://localhost:4000/user/event/image/{{event['eventImage']}}" alt=""></td>       

                <!-- <td>{{event['eventImage']}}</td> 
                <td>{{event['eventName']}}</td>
                <td>{{event['eventDescription']}}</td>
                <td> {{event['eventLocation']}}</td>
                <td>{{event['eventDate']}}</td>
                <td>{{event['eventTime']}}</td>
                <td>{{event['eventDuration']}}</td>
                <td>{{event['eventFee']}}</td>
                <td>
                    <button style="margin-top: 10px;" (click)="addToCart(event)" class="btn btn-info btn-sm">Register</button>
                </td>
            </tr>
        </tbody>
    </table>
</div> -->

<div class="row" style="margin-bottom: 40px; margin-top: 10px;">
  <div class="col-md-12">
    <button (click)="loadCart()" class="btn btn-success float-right">Cart</button>
    <h2>Events</h2>
  </div>
</div>
  
<div class="row">
  <div class="col-md-3">
    <!-- <div class="form-group">
      <label for="">Category</label>
      <select class="form-control" (change)="filterProducts($event)">
        <option [value]="category['id']" *ngFor="let category of categories">{{category['title']}}</option>
      </select>
    </div> -->
  </div>
  <div class="col-md-9">
    <div class="row">
      <div class="col-md-4" *ngFor="let event of events">
        <div class="card">
          <img class="product-image" src="http://localhost:4000/user/event/image/{{event['eventImage']}}" alt="">
          <div class="card-body">
            <div class="price"><strong>Event Name: </strong>{{event['eventName']}}</div>
            <div class="description"><strong>Description: </strong> {{event['eventDescription']}}</div>
            <div class="location"><strong>Location: </strong> {{event['eventLocation']}}</div>
            <div class="date"><strong>Date: </strong> {{event['eventDate']}}</div>
            <div class="time"><strong>Time: </strong> {{event['eventTime']}}</div>
            <div class="duration"><strong>Duration: </strong> {{event['eventDuration']}}</div>
            <div class="fee"><strong>Fee: </strong> {{event['eventFee']}}</div>  
            <button style="margin-top: 10px;" (click)="addToCart(event)"class="btn btn-success btn-sm">Add to cart</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>