<h1>List of Events</h1>
<div  class="table-responsive">
    <table class="table table-striped table-bordered">
        <thead class="thead-dark">
            <tr>
                <th>No</th>
                <th>E_Name</th>
                <th>Image</th>
                <th>Description</th>
                <th>Venue</th>
                <th>Date</th>
                <th>Time</th>
                <th>Duration</th>
                <th>Category</th>
                <th>O_Name</th>
                <th>Fee</th>
                <th>Actions</th>
            </tr>
        </thead>

        <tbody >
            <tr *ngFor="let event of events; let i= index ">
                <td>{{i+1}}</td>
                <td>{{event['Event_Name']}}</td>
                <td><img class="event-image" src="http://localhost:3000/event/image/{{event['eventImage']}}" alt=""></td>
                <td>{{event['Description']}}</td>
                <td>{{event['Venue']}} {{event['Location']}}</td>
                <td>{{event['Date']}}</td>
                <td>{{event['Time']}}</td>
                <td>{{event['Duration']}}</td>
                <td>{{event['Category']}}</td>
                <td>{{event['Organizer_FirstName']}} {{event['Organizer_LastName']}}</td>
                <td>{{event['Registration_Fee']}}</td>
                <td>
                    <button (click)="toggleActive(event)"
                        [class.btn-success]="event['active']!=1"
                        [class.btn-danger]="event['active']==1"
                        class="btn btn-sm">{{event['active']==1?'Suspend':'Activate'}}</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>