<div class="container">
  <div class="row">
    <div routerLink="/getActiveEventCount" class="col-md-3">
      <a >
        <div class="info info-orange">
          <div class="header"># Active Event</div>
          <span (onload)="getActiveEvents()">{{eventCount}}</span>
        </div>
      </a>
    </div>

    <div routerLink="/getUserCount" class="col-md-3">
      <a href="../user-list/">
        <div class="info info-green">
          <div class="header"># Total Event</div>
          <span (onload)="getTotalEvents()">{{eventCountTotal}}</span>
        </div>
      </a>
    </div>
    <div routerLink="/getUserCount" class="col-md-3">
      <a href="../user-list/">
        <div class="info info-green">
          <div class="header"># Registered User</div>
          <span (onload)="getTotalUsers()">{{userCount}}</span>
        </div>
      </a>
    </div>
</div>