<div class="container">
        

    <div class="form">
        <div class="form-group">
            <div><h1>Payment page </h1></div><hr>
            <div>                    
                <span >Accept card </span> <span> &nbsp;<img src="../../../../assets/img_1.jpeg" alt=""></span>&nbsp;&nbsp;&nbsp;&nbsp;<span><img src="../../../../assets/img_2.jpeg"
                        alt=""></span>&nbsp;&nbsp;&nbsp;&nbsp;<span><img src="../../../../assets/img_3.jpeg" alt=""></span>
            </div><hr >
            <br>

            <div>
                <label for="name">Name On Card</label>
                <br>
                <input type="text" id="name" class="form-control" placeholder="Enter Name">

            </div>

            <div>
                <label for="num">Credit card number</label>
                <br>
                <input type="number" id="num" class="form-control" placeholder="Enter card number">

            </div>

            <div>
                <label for="expire">Expire Date</label>
                <br>
                <input type="date" id="expire" class="form-control">

            </div>

            <div>
                <label for="cvv">CVV</label>
                <br>
                <input type="number" id="cvv" class="form-control">
            </div>
            <br>

            <div>
                <button onclick="account_details()" class="btn btn-success">Submit</button>
            </div>
            <br>

        </div>
    </div>

   

</div>

