img{
    width: 680px;
    height: 400px;
    margin-left: 200px;
    margin-top: 25px;
    border: 2px solid black ;
    padding: 5px;
    border-radius: 20px;
}

.card {
    background-color: seashell;
}

.card-body {
    width: 900px;
}

.card-text {
    margin-left: 180px;
    text-align: justify; 
}
