<!-- <div class="row">
  <div class="col-md-4"></div>
  <div class="col-md-4">
      <br>
      <br>
      <h1>Login</h1>
      <form>
        <div class="form-group">
            <label for="email">Email</label>
            <input required="" autofocus="" [(ngModel)]="email" type="email" class="form-control" name="email" id="email" placeholder="Email">
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input required="" [(ngModel)]="password" type="password" class="form-control" name="password" id="password" placeholder="Password">
        </div>

        <div class="form-group">
            <label for="role">Role</label>
            <select required="" [(ngModel)]="role" name="role" class="form-control">
                <option selected value="user">User</option>
                <option value="organizer">Organizer</option>
            </select>
        </div>
        <br>
        <div class="form-group">
          <button (click)="onLogin()" type="submit" name="login" class="btn btn-dark text-uppercase">Login</button>
          <a href="/auth/forgot-password" class="float-right" style="padding: 5px;">Forgot Password ?</a>
        </div>
      </form>
  </div>
  <div class="col-md-4"></div>
</div>

<div class="row">
  <div class="col-md-4"></div>
  <div class="col-md-4">
    <hr>
    <p style="text-align: center;">Don't have an account ? <a href="/auth/signup">Sign Up Here</a></p>
  </div>
  <div class="col-md-4"></div>
</div> -->


<div class="d-md-flex half">
  <div class="bg" style="background-image: url('../../../assets/images/bg_1.jpg');"></div>
  <div class="contents">

    <div class="container">
      <div class="row align-items-center justify-content-center">
        <div class="col-md-12">
          <div class="form-block mx-auto">
            <div class="text-center mb-3">
              <h3>Login to <strong>Event Diary</strong></h3>
            </div>
            <form>
              <div class="form-group first mb-2">
                <label for="username">Email</label>
                <input required="" autofocus="" [(ngModel)]="email" type="text" class="form-control" placeholder="Your-email@gmail.com" id="username">
              </div>

              <div class="form-group last mb-3">
                <label for="password">Password</label>
                <input required="" [(ngModel)]="password" type="password" class="form-control" placeholder="Your Password" id="password">
              </div>
              
              <div class="form-group last mb-3">
                <label for="role">Login as</label>
                <select required="" [(ngModel)]="role" name="role" type="password" class="form-control" placeholder="Your Role" id="role">
                  <option selected value="user">User</option>
                  <option value="organizer">Organizer</option>
                </select>
              </div>

              <div class="d-sm-flex mb-3 align-items-center">
                <label class="control control--checkbox mb-3 mb-sm-0"><span class="caption">Remember me</span>
                  <input type="checkbox" checked="checked"/>
                  <div class="control__indicator"></div>
                </label>
                <span class="ml-auto"><a href="/auth/forgot-password" class="forgot-pass">Forgot Password</a></span> 
              </div>

              <input (click)="onLogin()" type="submit" name="login" value="Log In" class="mybtn btn btn-block">
              <hr>
              <p>Don't have an account ?</p>
              <input routerLink="/auth/signup" type="submit" value="Sign Up" class="mybtn btn btn-block">
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>