<h2>Admin-OrganizerData</h2>


 <button (click)="loadOrganizer()" style="margin-left: 10px;" class="btn btn-success">Organizer-Data</button> 

<hr>
<h4 *ngIf="organizers.length==0">THere is no organizer</h4>
<table *ngIf="organizers.length > 0" class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>Sr.no</th>
            <th>Id</th>
            <th>FirstName</th>
            <th>LastName</th>
            <th>Email</th>
            <th>Phone</th>
            <th>City</th>
            <th>State</th>
            <th>Gender</th>
            <th>Role</th>
            <th>Actions</th>
        </tr>
    </thead>

    <tbody>
        <tr *ngFor="let organizer of organizers; let i= index ">
            <td>{{i+1}}</td>
            <td>{{organizer['id']}}</td>
            <td>{{organizer['firstName']}}</td>
            <td>{{organizer['lastName']}}</td>
            <td>{{organizer['email']}}</td>
            <td>{{organizer['phone']}}</td>
            <td>{{organizer['city']}}</td>
            <td>{{organizer['state']}}</td>
            <td>{{organizer['gender']}}</td>
            <td>{{organizer['role']}}</td>
            <td>
                <button class="btn btn-danger">Delete</button>
            </td>
        </tr>
    </tbody>
</table>
