<div class="container">



    <h2>Admin</h2>

    <br>
    <br>

  <a class="btn btn-link" routerLink="/userData">UserData</a>
  <a class="btn btn-link" routerLink="/organizerData">OrganizerData</a>
  <router-outlet></router-outlet>  

<!-- 
    <button class="btn btn-primary">UserData</button>
    <button style="margin-left: 10px;" class="btn btn-primary">OrganiserData</button>  -->
     <!-- <app-admin-component></app-admin-component>
    <app-admin-organiserdata></app-admin-organiserdata> -->
    
</div>

