table {
  text-align: center;
}
.img {
  padding: 10px;
  width: 275px;
  height: 150px;
  border-radius: 10px;
}

img {
  padding: 10px;
  width: 275px;
  height: 150px;
  border-radius: 10px;
}

.img:hover{
  transform: scale(1.1);
  box-shadow: 0 0 5px 1px #7D7D7D;
}