
<div class="row">
    <div routerLink="/getActiveEventCount" class="col-md-3">
      <div class="info info-orange">
        <div class="header">Current_Events</div>
        <span>2</span> 
        
      </div>
    </div>
  
    <div routerLink="/getUserCount" class="col-md-3">
      <div class="info info-green">
        <div class="header">User</div>
         <span>2</span> 
      
      </div>
    </div>
  
    <div routerLink="/getSponserCount" class="col-md-3">
      <div class="info info-blue">
        <div class="header">Sponser</div>
         <span>2</span> 
       
      </div>
    </div>
  
    <div routerLink="/getOrganizerCount" class="col-md-3">
      <div class="info info-brown">
        <div class="header">Organizer</div>
         <span>2</span>
    
      </div>
    </div>
  
    
  </div>