
<div class="card">
    <div class="card-header ">
        <h3>List of sponsers</h3>
    </div>
    <div class="card-body">
        <table class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th>Sr.no</th>
                    <th>SponserId</th>
                    <th>FirstName</th>
                    <th>LastName</th>
                    <th>Email</th>
                    <th>Phone</th>
                    <th>Gender</th>
                    <th>Organizer_FirstName</th>
                    <th>Organizer_LastName</th>
                    
                </tr>
            </thead>
        
            <tbody>
                <tr *ngFor="let sponser of sponsers; let i= index ">
                    <td>{{i+1}}</td>
                    <td>{{sponser['sponserId']}}</td>
                    <td>{{sponser['firstName']}}</td>
                    <td>{{sponser['lastName']}}</td>
                    <td>{{sponser['email']}}</td>
                    <td>{{sponser['phone']}}</td>
                    <td>{{sponser['gender']}}</td>
                    <td>{{sponser['Organizer_FirstName']}}</td>
                    <td>{{sponser['Organizer_LastName']}}</td>
                </tr>
            </tbody>
        </table>
    </div>

</div>
