<div class="card">
    <div class="card-header ">
        <h1>List of Sponser's</h1>
    </div>
    <div class="card-body">
        <table class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th>No</th>
                    <th>Sponser Id</th>
                    <th>Sponser Name</th>
                    <th>Email</th>
                    <th>Phone</th>
                    <th>Gender</th>
                    <th>Organizer Name</th>
                </tr>
            </thead>
        
            <tbody>
                <tr *ngFor="let sponser of sponsers; let i= index ">
                    <td>{{i+1}}</td>
                    <td>{{sponser['sponserId']}}</td>
                    <td>{{sponser['firstName']}} {{sponser['lastName']}}</td>
                    <td>{{sponser['email']}}</td>
                    <td>{{sponser['phone']}}</td>
                    <td>{{sponser['gender']}}</td>
                    <td>{{sponser['Organizer_FirstName']}} {{sponser['Organizer_LastName']}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>